<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/parseEvents.js" ></script>
</head>
<body>
<% include ../navbar.ejs %>
<h2>Добро пожаловать, <%= adminName%></h2>
<h3>Select parse time</h3>

<label for="parseBy">Парсить по</label>
<select id="parseBy" name="parseBy">
    <option value="time">часам</option>
    <option value="day">дням</option>
</select>
<br/><br/>
<label for="time">Каждые:</label>
    <input id="param-parsing" name="time" value="00:00" type="time"/>
<br/><br/>
<input type="button" id="btn-set-parse" value="настроить"/>
<br/><br/>
<input type="button" id="btn-start-parse" value="начать парсинг"/>
<br/><br/>
<a href=<%= "./" + adminName + "/changePassword/"%>>Изменить пароль</a>
<div id="res"></div>
<script>
    const adminName = JSON.stringify(<%- adminName%>);
    handleParseEvents(adminName);
</script>

</body>
</html>
