<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/changePassword.js" ></script>
</head>
<body>
<% include ../navbar.ejs %>

<h1>Изменить пароль</h1>
<a href=<%= "/admin/" + adminName %>>Назад</a>
<br/><br/>
<label for="oldPassword">Старый пароль</label>
<input type="text" name="oldPassword" id="oldPassword"/>
<br/><br/>
<label for="newPassword">Новый пароль</label>
<input type="text" name="newPassword" id="newPassword"/>
<br/><br/>
<label for="confirmPassword">Повторите новый пароль</label>
<input type="text" name="confirmPassword" id="confirmPassword"/>
<br/><br/>
<input type="button" id="btn-change-password" value="Изменить">
<div id="res"></div>
</body>

<script>
    const adminName = JSON.stringify(<%- adminName%>);

    handlePasswordChangeEvents(adminName);

</script>
</html>
