<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/javascript/changePassword.js" ></script>
</head>
<body>
<% include ../navbar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 container-admin shadow-wrap">
            <div style="display: none" id="res-success" class="alert alert-success">
                <strong>Success!</strong> Indicates a successful or positive action.
            </div>
            <div style="display: none" id="res-danger" class="alert alert-danger">
                <strong>Success!</strong> Indicates a successful or positive action.
            </div>
            <h1>Изменить пароль</h1>
            <form>
                <div class="form-group">
                    <label for="oldPassword">Старый пароль</label>
                    <input class="form-control" type="password" name="oldPassword" id="oldPassword"/>
                </div>
                <div class="form-group">
                    <label for="newPassword">Новый пароль</label>
                    <input class="form-control" type="password" name="newPassword" id="newPassword"/>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Повторите новый пароль</label>
                    <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"/>
                </div>
                <div class="form-group">
                    <input class="form-control btn btn-success" type="button" id="btn-change-password" value="Изменить">
                </div>
                <div class="form-group">
                    <a class="form-control btn btn-primary" href=<%= "/admin/" + adminName %>>Назад</a>
                </div>
            </form>

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>



<br/><br/>
<br/><br/>

<br/><br/>

<br/><br/>

<div id="res"></div>
</body>

<script>
    const adminName = JSON.stringify(<%- adminName%>);

    handlePasswordChangeEvents(adminName);

</script>
</html>
