<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include navbar.ejs %>
    <h2>Choose site you want to get news</h2>

  </body>
</html>
