<ul class="nav">
    <li><a href="/CBSS">CBSS</a></li>
    <li><a href="/Bleacher">Bleacher</a></li>
    <li><a href="/NBS" >NBS</a></li>
    <li><a href="/SBNation" >SBNation</a></li>
    <li><a href="/ESPN" >ESPN</a></li>
</ul>